#content-share-list,
#content-edit-product-list {
    @apply absolute;
    @apply justify-center;
    @apply items-center;
    @apply w-full;
    @apply h-full;
}

#content-msg {
    @apply w-1/5;
    @apply pl-1;
    @apply -mt-2;
}

#content-msg.extend {
    @apply w-3/5;
}

#wrap-list-products {
    @apply w-2/5;
    @apply flex-col;
    @apply gap-1;
    @apply pl-3;
    @apply -mt-2;
}

#wrap-list-products.with-msg {
    @apply w-3/5;
}

#wrap-list-products.extend {
    @apply w-4/5;
}

#wrap-writer{
    @apply flex;
    @apply flex-col;
    @apply justify-center;
    @apply mt-2;
}

#v-list-msg{
    @apply bg-gray-100;
    @apply flex;
    @apply flex-col;
    @apply p-1;
    @apply gap-4;
    @apply scrollbar-thumb-blue-700;
    @apply scrollbar-track-blue-400;
}

.content-list-msg {
    @apply relative;
    @apply bg-gray-300;
    @apply flex;
    @apply flex-col;
    @apply gap-1;
    @apply w-full;
    @apply p-2;
    @apply rounded;
    @apply shadow-sm;
    transition: background-color 1.5s;
}

.content-list-msg.alt {
    @apply bg-gray-400;
}

.answering {
    @apply border-l-4;
    @apply border-blue-600;
    @apply bg-blue-300;
}

.editing {
    @apply border-l-4;
    @apply border-green-600;
    @apply bg-green-300;
}

.replying-to {
    @apply flex;
    @apply gap-1;
    @apply text-xs;
}

.replying-to:hover {
    @apply text-gray-500;
}

.flash {
    @apply bg-blue-300;
    transition: background-color 1.5s;
}

#show-pin {
    @apply cursor-pointer;
    @apply text-purple-500;
    @apply border-blue-500;
}

#show-pin:hover, #show-pin.active {
    @apply text-white;
    @apply bg-purple-500;
}

.is-pin {
    @apply text-purple-500;
}

.btn-emoji-kbd {
    scale: 1.2;
    transition: transform 0.5s ease-in-out;
}

.btn-emoji-kbd:hover {
    scale: 1.4;
}

#list-msg-emoji-sections {
    @apply hidden;
    @apply flex-col;
    @apply pt-1;
    @apply px-1;
    @apply gap-2;
    border-width: 1px;
    @apply border-black;
    @apply rounded;
    @apply mt-2;
}

#list-msg-emoji-sections.show {
    @apply flex;
}

.emoji-kbd-section {
    @apply hidden;
    @apply flex-wrap;
    @apply justify-center;
    @apply gap-1;
}

.emoji-kbd-section.show {
    @apply flex;
}

.wrap-v-line-emojis {
    @apply relative;
    @apply scrollbar-thumb-yellow-700;
    @apply scrollbar-track-yellow-400;
}

.v-line-emojis {
    @apply absolute;
    @apply flex;
    @apply gap-1;
}

.emoji-section-title {
    @apply p-1;
    border-width: 1px;
    @apply border-b-0;
    @apply border-black;
    @apply rounded-t-lg;
    @apply bg-amber-100;
    @apply cursor-pointer;
}

.emoji-section-title:hover {
    @apply bg-amber-300;
}

#list-msg-menu {
    @apply absolute;
    z-index: 2;
}

#list-msg-menu > div:first-child {
    @apply flex;
    @apply flex-col;
    @apply p-2;
    @apply text-white;
    @apply bg-gray-700;
    @apply rounded-lg;
}

#list-msg-menu > div:first-child > div {
    @apply inline-flex;
    @apply gap-1;
    @apply cursor-pointer;
}

#list-msg-menu > div:first-child > div:hover {
    @apply pl-2;
}

#list-msg-menu > div:first-child > div:hover:not(.trash):not(.pin) {
    @apply text-blue-500;
}

#list-msg-menu > div:first-child > div.trash:hover {
    @apply text-red-500;
}

#list-msg-menu > div:first-child > div.pin.is-pin,
#list-msg-menu > div:first-child > div.pin:hover {
    @apply text-purple-500;
}

.list-msg-react-btn {
    @apply absolute;
    @apply right-1;
    @apply bottom-1;
}

.list-msg-react-btn:hover {
    @apply text-yellow-300;
}

.list-msg-react-btn.active {
    transform: scale(1.5);
    @apply text-yellow-300;
}

.v-line-reactions {
    @apply absolute;
    @apply flex;
    @apply flex-wrap;
    @apply -bottom-4;
}

.v-line-reactions:not(:empty) {
    @apply bg-white;
    @apply px-1;
    border-width: 1px;
    @apply border-black;
    @apply rounded-full;
}

.msg-reaction {
    @apply relative;
    @apply cursor-pointer;
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}

.msg-reaction:hover {
    transform: scale(1.15);
}

.grow-up {
    transform: scale(1.5);
    transition: transform 1s ease-in-out;
}

.grow-down {
    transform: scale(0);
    transition: transform 1s ease-in-out;
}

.fade-in {
    animation: fade-in-msg 0.5s ease-in-out;
}

@keyframes fade-in-msg {
    from {
        opacity: 0;
        transform: translateX(85px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}