#left-sidebar-icons,
.sidebar-content {
    @apply h-full;
    @apply fixed;
    @apply top-12;
    @apply pt-1.5;
    @apply text-white;
}

#left-sidebar-icons {
    z-index: 10;
    @apply bg-gray-900;
    width: 3em;
    @apply left-0;
    @apply flex;
    @apply flex-col;
    @apply justify-start;
    @apply items-center;
    @apply gap-6;
    @apply pt-6;
}

#icon-help.active,
#icon-globe.active {
    stroke: currentColor;
    color: #ed8936;
}

#icon-star.active {
    @apply fill-current;
    color: #ed8936;
}

.sidebar-content {
    z-index: 9;
    @apply left-12;
    @apply bg-gray-700;
    @apply flex;
    @apply flex-col;
    @apply justify-start;
    @apply items-center;
    width: 18em;
    @apply pt-4;
    transform-origin: 0 0;
    transition: all 0.3s ease-out;
    transform: translate(-100%, 0);
}

.sidebar-content.open {
    transform: translate(0%, 0);
}

.left-sidebar-grid-2,
.left-sidebar-grid-3 {
    @apply grid;
    @apply gap-3;
    @apply gap-y-5;
}

.left-sidebar-grid-3 {
    @apply grid-cols-3;
}

.left-sidebar-grid-2 {
    @apply grid-cols-2;
    @apply justify-items-center;
}

.sidebar-content p {
    @apply mb-4;
    @apply text-lg;
    @apply flex;
    @apply gap-1;
    @apply underline;
    @apply font-bold;
}

.sidebar-content p:not(:first-child) {
    @apply mt-10;
}

div.square {
    @apply h-16;
    @apply w-16;
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply overflow-hidden;
    @apply text-5xl;
    @apply pb-1;
}

div.rectangle {
    @apply w-24;
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply pb-1;
}

div.dashed {
    @apply border-2;
    @apply border-white;
    @apply border-dashed;
}

div.link {
    @apply col-span-2;
}

.sidebar-content label {
    @apply text-sm;
    @apply p-0;
    @apply pl-1;
    @apply text-white;
}