#left_sidebar_icons,
#left_sidebar_websites,
#left_sidebar_externals {
    @apply h-full;
    @apply fixed;
    @apply top-12;
    @apply pt-1.5;
    @apply text-white;
}

#left_sidebar_icons {
    z-index: 10;
    @apply bg-gray-900;
    width: 3em;
    @apply left-0;
    @apply flex;
    @apply flex-col;
    @apply justify-start;
    @apply items-center;
    @apply gap-6;
    @apply pt-6;
}

#icon-star.active,
#icon-globe.active {
    @apply fill-current;
    color: #ed8936;
}

#left_sidebar_websites,
#left_sidebar_externals {
    z-index: 9;
    @apply left-12;
    @apply bg-gray-700;
    @apply flex;
    @apply flex-col;
    @apply justify-start;
    @apply items-center;
    width: 16em;
    @apply pt-4;
    transform-origin: 0 0;
    transition: all 0.3s ease-out;
    transform: translate(-100%, 0);
}

#left_sidebar_websites.open,
#left_sidebar_externals.open {
    transform: translate(0%, 0);
}

#ls_favorites {
    @apply mt-4;
    @apply grid;
    @apply grid-cols-3;
    @apply gap-3;
    @apply gap-y-5;
}

#ls_externals {
    @apply mt-4;
    @apply grid;
    @apply grid-cols-2;
    @apply justify-items-center;
    @apply gap-3;
    @apply gap-y-5;
}

#left_sidebar_websites p:first-of-type,
#left_sidebar_externals p:first-of-type {
    @apply text-lg;
    @apply flex;
    @apply gap-1;
    @apply underline;
    @apply font-bold;
}

div.square {
    @apply h-16;
    @apply w-16;
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply overflow-hidden;
    @apply text-5xl;
    @apply pb-1;
}

div.rectangle {
    @apply w-24;
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply pb-1;
}

div.dashed {
    @apply border-2;
    @apply border-white;
    @apply border-dashed;
}

div.link {
    @apply col-span-2;
}
