#content-share-list {
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#content-msg {
  width: 20%;
  padding-left: 0.25rem;
  margin-top: -0.5rem;
}

#content-msg.extend {
  width: 60%;
}

#wrap-list-products {
  width: 40%;
  flex-direction: column;
  gap: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-top: -0.5rem;
}

#wrap-list-products.with-msg {
  width: 60%;
}

#wrap-list-products.extend {
  width: 80%;
}

#wrap-writer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.5rem;
}

#v-list-msg{
  --tw-bg-opacity: 1;
  background-color: rgba(244, 244, 245, var(--tw-bg-opacity));
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
  gap: 1rem;
  --scrollbar-thumb: #1d4ed8;
  --scrollbar-track: #60a5fa;
}

.content-list-msg {
  position: relative;
  --tw-bg-opacity: 1;
  background-color: rgba(212, 212, 216, var(--tw-bg-opacity));
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  transition: background-color 1.5s;
}

.content-list-msg.alt {
  --tw-bg-opacity: 1;
  background-color: rgba(161, 161, 170, var(--tw-bg-opacity));
}

.answering {
  border-left-width: 4px;
  --tw-border-opacity: 1;
  border-color: rgba(37, 99, 235, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(147, 197, 253, var(--tw-bg-opacity));
}

.editing {
  border-left-width: 4px;
  --tw-border-opacity: 1;
  border-color: rgba(22, 163, 74, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(134, 239, 172, var(--tw-bg-opacity));
}

.replying-to {
  display: flex;
  gap: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.replying-to:hover {
  --tw-text-opacity: 1;
  color: rgba(113, 113, 122, var(--tw-text-opacity));
}

.flash {
  --tw-bg-opacity: 1;
  background-color: rgba(147, 197, 253, var(--tw-bg-opacity));
  transition: background-color 1.5s;
}

#show-pin {
  cursor: pointer;
  --tw-text-opacity: 1;
  color: rgba(168, 85, 247, var(--tw-text-opacity));
  --tw-border-opacity: 1;
  border-color: rgba(59, 130, 246, var(--tw-border-opacity));
}

#show-pin:hover, #show-pin.active {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(168, 85, 247, var(--tw-bg-opacity));
}

.is-pin {
  --tw-text-opacity: 1;
  color: rgba(168, 85, 247, var(--tw-text-opacity));
}

.btn-emoji-kbd {
  scale: 1.2;
  transition: transform 0.5s ease-in-out;
}

.btn-emoji-kbd:hover {
  scale: 1.4;
}

#list-msg-emoji-sections {
  display: none;
  flex-direction: column;
  padding-top: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  gap: 0.5rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(0, 0, 0, var(--tw-border-opacity));
  border-radius: 0.25rem;
  margin-top: 0.5rem;
}

#list-msg-emoji-sections.show {
  display: flex;
}

.emoji-kbd-section {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.25rem;
}

.emoji-kbd-section.show {
  display: flex;
}

.wrap-v-line-emojis {
  position: relative;
  --scrollbar-thumb: #a16207;
  --scrollbar-track: #facc15;
}

.v-line-emojis {
  position: absolute;
  display: flex;
  gap: 0.25rem;
}

.emoji-section-title {
  padding: 0.25rem;
  border-width: 1px;
  border-bottom-width: 0px;
  --tw-border-opacity: 1;
  border-color: rgba(0, 0, 0, var(--tw-border-opacity));
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgba(254, 243, 199, var(--tw-bg-opacity));
  cursor: pointer;
}

.emoji-section-title:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(252, 211, 77, var(--tw-bg-opacity));
}

#list-msg-menu {
  position: absolute;
  z-index: 2;
}

#list-msg-menu > div:first-child {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(63, 63, 70, var(--tw-bg-opacity));
  border-radius: 0.5rem;
}

#list-msg-menu > div:first-child > div {
  display: inline-flex;
  gap: 0.25rem;
  cursor: pointer;
}

#list-msg-menu > div:first-child > div:hover {
  padding-left: 0.5rem;
}

#list-msg-menu > div:first-child > div:hover:not(.trash):not(.pin) {
  --tw-text-opacity: 1;
  color: rgba(59, 130, 246, var(--tw-text-opacity));
}

#list-msg-menu > div:first-child > div.trash:hover {
  --tw-text-opacity: 1;
  color: rgba(239, 68, 68, var(--tw-text-opacity));
}

#list-msg-menu > div:first-child > div.pin.is-pin, #list-msg-menu > div:first-child > div.pin:hover {
  --tw-text-opacity: 1;
  color: rgba(168, 85, 247, var(--tw-text-opacity));
}

.list-msg-react-btn {
  position: absolute;
  right: 0.25rem;
  bottom: 0.25rem;
}

.list-msg-react-btn:hover {
  --tw-text-opacity: 1;
  color: rgba(253, 224, 71, var(--tw-text-opacity));
}

.list-msg-react-btn.active {
  transform: scale(1.5);
  --tw-text-opacity: 1;
  color: rgba(253, 224, 71, var(--tw-text-opacity));
}

.v-line-reactions {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  bottom: -1rem;
}

.v-line-reactions:not(:empty) {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(0, 0, 0, var(--tw-border-opacity));
  border-radius: 9999px;
}

.msg-reaction {
  position: relative;
  cursor: pointer;
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}

.msg-reaction:hover {
  transform: scale(1.15);
}

.grow-up {
  transform: scale(1.5);
  transition: transform 1s ease-in-out;
}

.grow-down {
  transform: scale(0);
  transition: transform 1s ease-in-out;
}
