#left_sidebar_icons, .sidebar_content {
  height: 100%;
}

#left_sidebar_icons, .sidebar_content {
  position: fixed;
}

#left_sidebar_icons, .sidebar_content {
  top: 3rem;
}

#left_sidebar_icons, .sidebar_content {
  padding-top: 0.375rem;
}

#left_sidebar_icons, .sidebar_content {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

#left_sidebar_icons {
  z-index: 10;
  --tw-bg-opacity: 1;
  background-color: rgba(24, 24, 27, var(--tw-bg-opacity));
  width: 3em;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  padding-top: 1.5rem;
}

#icon-star.active {
  fill: currentColor;
}

#icon-help.active, #icon-globe.active {
  stroke: currentColor;
}

#icon-star.active,
#icon-help.active,
#icon-globe.active {
  color: #ed8936;
}

.sidebar_content {
  z-index: 9;
  left: 3rem;
  --tw-bg-opacity: 1;
  background-color: rgba(63, 63, 70, var(--tw-bg-opacity));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 18em;
  padding-top: 1rem;
  transform-origin: 0 0;
  transition: all 0.3s ease-out;
  transform: translate(-100%, 0);
}

.sidebar_content.open {
  transform: translate(0%, 0);
}

.ls_grid-2, .ls_grid-3 {
  display: grid;
}

.ls_grid-2, .ls_grid-3 {
  gap: 0.75rem;
}

.ls_grid-2, .ls_grid-3 {
  row-gap: 1.25rem;
}

.ls_grid-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.ls_grid-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-items: center;
}

.sidebar_content p {
  margin-bottom: 1rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  display: flex;
  gap: 0.25rem;
  text-decoration: underline;
  font-weight: 700;
}

.sidebar_content p:not(:first-child) {
  margin-top: 2.5rem;
}

div.square {
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-size: 3rem;
  line-height: 1;
  padding-bottom: 0.25rem;
}

div.rectangle {
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.25rem;
}

div.dashed {
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
  border-style: dashed;
}

div.link {
  grid-column: span 2 / span 2;
}

.sidebar_content label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0px;
  padding-left: 0.25rem;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
