.wrap_h1 {
  position: relative;
  display: flex;
  justify-content: center;
  border-bottom-width: 2px;
  margin-bottom: 1rem;
  gap: 0.5rem;
}

h3 {
  text-decoration: underline;
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.help_block {
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgba(30, 64, 175, var(--tw-border-opacity));
  border-radius: 0.375rem;
  margin-bottom: 1rem;
}

.icon_help {
  position: absolute;
  --tw-text-opacity: 1;
  color: rgba(30, 64, 175, var(--tw-text-opacity));
}

.components_list {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
  row-gap: 1rem;
  justify-content: center;
  font-style: italic;
  font-weight: 600;
}

/*Coding Window*/

.green {
  --tw-text-opacity: 1;
  color: rgba(22, 163, 74, var(--tw-text-opacity));
}

.purple {
  --tw-text-opacity: 1;
  color: rgba(192, 132, 252, var(--tw-text-opacity));
}

.blue {
  --tw-text-opacity: 1;
  color: rgba(59, 130, 246, var(--tw-text-opacity));
}

.cyan {
  --tw-text-opacity: 1;
  color: rgba(34, 211, 238, var(--tw-text-opacity));
}

.amber {
  --tw-text-opacity: 1;
  color: rgba(245, 158, 11, var(--tw-text-opacity));
}

.orange {
  --tw-text-opacity: 1;
  color: rgba(194, 65, 12, var(--tw-text-opacity));
}
