$sides:t,
r,
b,
l;

$sides-full: top,
right,
bottom,
left;

$sizes:-xs,
-sm,
'',
-lg,
-xl;

$primary_c:#2B3EA4;
$primary_c2:#4656AE;
$secondary_c:#1BAE52;
$tertiary_c:#EF8E25;
$orange-500: #ed8936;
$blue-400:#60a5fa;
$blue-500:#3b82f6;
