@import 'variables';

@each $side in $sides {
    .border-#{$side}-only {
        border-width: 1px;

        @each $side-full in $sides-full {
            @if str-slice($side-full, 1, 1) !=$side {
                border-#{$side-full}-width: 0px;
            }
        }
    }
}

$i: 3;

@each $size in $sizes {
    $i: $i + 1;

    .icon#{$size} {
        width: #{$i*0.25}rem;
    }
}

.icon-clickable:hover {
    color: color-blue-500;
    transition: ease-in-out;
    transition-duration: 150ms;
    cursor: pointer;
}

.btn_show_product:hover {
    p {
        background-color: color-blue-400;
        transition: 0.1s;
    }

    div {
        background-color: color-blue-500;
        transition: 0.1s;
    }

    div {
        transform: translate(10px, 0);
        transition: 0.3s;
    }
}
